// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.;


//
// Color system
//
$black:    #5c5c5c;
$c93_bg: #43f8cb;
$dropdown-bg: lighten($c93_bg,20%);
$body_bg: lighten($c93_bg,30%);
//@debug "background-color: #{$body_bg}";
$dropdown-link-hover-bg: $c93_bg;
$dropdown-link-hover-color: blue;

$navbar-light-color:rgba($black,.5);

$sub-header-color:$c93_bg;