// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.;


//
// Color system
//
$black: #1b1b52;
$c93_bg: #f0e98b; // see http://parcsinfo.seine-saint-denis.fr/
//$c93_bg: #E0D9CF; // see http://seinesaintdenis.fr/
$my_dropdown-bg: $c93_bg;
$my_footer_bg: lighten($c93_bg,15%);
$btn_cdrs_color: darken($c93_bg,10%);
//$body_bg: lighten($c93_bg,30%); //to change for something more http://parcsinfo.seine-saint-denis.fr/-Les-parcs-.html
$body_bg: white;
$dropdown-bg: $my_dropdown-bg; //used in bootstrap/dropdown.scss
@debug "background-color: #{$body_bg}";
$dropdown-link-hover-bg: $c93_bg;

$navbar-light-color:rgba($black,.5);

$navbar-light-hover-color:lighten($navbar-light-color,10%);

$dropdown-link-hover-color:darken($navbar-light-color,20%);


$sub-header-color:$c93_bg;