@import "myvariables.scss";
@import "bootstrap.scss";
@import "navigation/menu.scss";

.post-thumbnail {
  margin-bottom: 1rem;
  img {
      width: 100%;
      height: auto;
  }
}

@include media-breakpoint-up(sm) {
    body.home{
      background-color: transparent;
      //&:before {
      background-image: url('../images/cdrs93_transparent.png');
      background-repeat: no-repeat;
      background-size: 100%;
      z-index: 1;
        //}
    }
    a.nav-link {
      border-right: 1px solid rgba(92,92,92,0.5);
      -webkit-transform: skewX(-15deg);
      transform: skewX(-15deg);
    }
    .site-footer {
      background-color: $my_footer_bg;
      //&:before {
      background-image: url('../images/footer_cdrs.png');
      background-repeat: no-repeat;
      min-height: 400px;
      background-position: center;
      //}
    }
  }

#page-sub-header {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 0;
    text-align: center;
    font-size: 1.25rem;
    background-size: cover !important;
    h1, h2 {
      //line-height: 1;
      //font-size: 4rem;
      color: $cd93_bg_base;
      //margin: 0 0 1rem;
      //border: 0;
      //padding: 0;
    }
}


  /*--------------------------------------------------------------
  # Widgets
  --------------------------------------------------------------*/
  .widget {
    margin: 0 0 1.5em;
    font-size: 14px;
    /* Make sure select elements fit in widgets. */
    select {
      max-width: 100%;
    }
  }

  .widget_search {
    .search-form {
      input[type="submit"] {
      display: none;
      }
    }
  }

  .half-rule {
    width: 6rem;
    margin: 2.5rem 0;
  }

  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/
  /*--------------------------------------------------------------
  ## Posts and pages
  --------------------------------------------------------------*/
  #content.site-content {
    padding-bottom: 3.75rem;
    padding-top: 4.125rem;
  }

  .page-content,
  .entry-content,
  .entry-summary {
    margin: 1.5em 0 0;
    overflow: hidden;
  }

  .posted-on, .byline, .comments-link {
    color: $black;
  }

  .entry-title{
    a {
      color: $black;
    }
  }


  /*--------------------------------------------------------------
  # Infinite scroll
  --------------------------------------------------------------*/
  /* Globally hidden elements when Infinite Scroll is supported and in use. */
  .infinite-scroll .posts-navigation,
  .infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
  }

  /* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
  .infinity-end.neverending .site-footer {
    display: block;
  }

  /*--------------------------------------------------------------
  # Media
  --------------------------------------------------------------*/
  .page-content .wp-smiley,
  .entry-content .wp-smiley,
  .comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
  }

  /* Make sure embeds and iframes fit their containers. */
  embed,
  iframe,
  object {
    max-width: 100%;
  }

  /*--------------------------------------------------------------
  ## Captions
  --------------------------------------------------------------*/
  .wp-caption {
    background: #f1f1f1 none repeat scroll 0 0;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 0.313rem 0.313rem 0;
    text-align: center;
  }
  .wp-caption img[class*="wp-image-"] {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: auto;
  }
  .wp-caption .wp-caption-text {
    font-size: 0.688rem;
    line-height: 1.063rem;
    margin: 0;
    padding: 0.625rem;
  }

  .wp-caption-text {
    text-align: center;
  }

  /*--------------------------------------------------------------
  ## Galleries
  --------------------------------------------------------------*/
  .gallery {
    margin-bottom: 1.5em;
  }

  .gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
    .gallery-columns-2 {
      max-width: 50%;
    }
    .gallery-columns-3 {
      max-width: 33.33333%;
    }
    .gallery-columns-4 {
      max-width: 25%;
    }
    .gallery-columns-5 {
      max-width: 20%;
    }
    .gallery-columns-6 {
      max-width: 16.66667%;
    }
    .gallery-columns-7 {
      max-width: 14.28571%;
    }
    .gallery-columns-8 {
      max-width: 12.5%;
    }
    .gallery-columns-9 {
      max-width: 11.11111%;
    }
  }
 
  .gallery-caption {
    display: block;
  }

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  footer {
    color: $navbar-light-active-color;
    background-color: $cd93_bg;
    .credits {
      font-size: 1.2rem;
      margin-bottom: 0;
      text-align: center;
    }
    a{
      color: inherit;
    }
  }


  /*--------------------------------------------------------------
  ## Elementor
  --------------------------------------------------------------*/
  .elementor-page article .entry-footer {
    display: none;
  }

  .elementor-page.page-template-fullwidth #content.site-content {
    padding-bottom: 0;
    padding-top: 0;
  }

  .elementor-page .entry-content {
    margin-top: 0;
  }

  /*--------------------------------------------------------------
  ## Visual Composer
  --------------------------------------------------------------*/
  .vc_desktop {
    article {
      .entry-footer {
        display: none;
      }
      .entry-content {
        margin-top: 0;
      }
    }
    #content.site-content {
      padding-bottom: 0;
      padding-top: 0;
    }
    .entry-content {
      margin-top: 0;
    }
  }

  .entry-footer{
    background-color: transparent;
    margin-bottom: 2rem;
    .cat-links {
      color: $black;
      a {
        color: $link-color;
      }
    }
  }